/* Remove default browser margins + full width fix */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: #f5f5f5;
  font-family: sans-serif;
}